@font-face {
  font-family: OpenSansRegular;
  src: url("OpenSans-Regular.ttf");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
b,
body,
center,
div,
footer,
h3,
header,
html,
i,
img,
li,
p,
span,
strong,
ul {
  margin: 0;
  padding: 0;
  border: 0 none;
  font-family: inherit;
    /* font-family: "open sans"; */
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size-adjust: inherit;
  font-stretch: inherit;
  -webkit-font-feature-settings: inherit;
  font-feature-settings: inherit;
  -webkit-font-language-override: inherit;
  font-language-override: inherit;
  -webkit-font-kerning: inherit;
  font-kerning: inherit;
  font-synthesis: inherit;
  font-variant: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ul {
  list-style: outside none none;
}

footer,
header {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  background: transparent none repeat scroll 0 0;
  font-size: 18px;
}

.content::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.page-wrap {
  padding: 0 30px;
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
  cursor: auto;
}

.main-content {
  background: transparent none repeat scroll 0 0;
  z-index: 11;
  position: relative;
  
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-content::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.content {
  min-height: 700px;
  margin: 0 auto;
  max-width: 750px;
}

/* .content__inner {
  float: left;
} */

.content__inner_wide {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.content,
.footer {
  clear: both;
}

.header {
  width: 100%;
  z-index: 12;
  position: relative;
}

.header {
  background: #0095da;
  padding: 15px;
}

.footer {
  background: #1a1a1a;
  padding: 20px;
  color: #b4b4b4;
  text-align: center;
}

.article {
  width: 100%;
  padding: 24px 40px;
}

.article::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.article__date {
  font: 14px/18px ArimoRegular, sans-serif;
  color: #555;
}

.article__date .article__time {
  padding-left: 12px;
  padding-right: 12px;
}

.article__date .article__author {
  padding: 0 12px;
  border-left: 1px solid #ccc;
}

.article__title {
  font: 32px/36px RussiaLight, sans-serif;
  padding: 4px 0 24px;
}

.article__text {
  font: 18px/24px OpenSansRegular, sans-serif;
  color: #333;
  padding-left: 0;
  padding-top: 24px;
}

.article__text img {
  max-width: 100%;
  width: 65%;
}

.article__text p {
  padding: 0 0 30px;
  text-align: justify;
}

.article__text a {
  text-decoration: none;
  color: #e21a0c;
}

.article__text b,
.article__text strong {
  font-weight: 700;
}

.head {
  font: bold 23px/100% RussiaLight, sans-serif;
  text-indent: 0;
}

img {
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

.comment-block {
  background: #fff none repeat scroll 0 0;
}

.comment-user {
  min-height: 130px;
  clear: both;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.comment-block .user-name {
  font-weight: 700;
  padding: 0 0 10px;
}

.comment-block img {
  width: 60px;
  float: left;
  margin: 0 20px 0 0;
}

.clearfix::after {
  content: "";
  display: block;
  float: none;
  clear: both;
}

.bottom-btn {
  display: block;
  padding: 14px 20px 13px;
  color: #fff !important;
  text-decoration: none;
  font-size: 18px;
  background: #ff2828;
  border-radius: 10px;
  text-align: center;
  max-width: 450px;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  font-weight: 700;
}

.bottom-btn:hover {
  opacity: 0.8;
}

/* new styles */

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

@media(max-width: 992px) {
  .center img{
    width: 100%;
  }
}



.red {
  color: red;
  font-weight: bold;
}

.nav__item {
  color: #fff;
  margin-right: 18px;
  cursor: pointer;
  position: relative;
}

.nav__item img {
  display: none;
}

.nav {
  display: flex;
  width: 100%;
}

.nav__inner {
  display: flex;
  align-items: center;
}

.nav__item img {
  max-width: 18px;
  width: 100%;
}

.nav__item:after {
  background-color: transparent;
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: width 0.2s ease;
  -moz-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.nav__item:hover:after {
  background-color: red;
  width: 100%;
}

.imgWrapper {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  width: fit-content;
  margin: 10px auto;
}
.imgWrapper img {
  width: 100%;
  max-width: 500px;
}

.burger {
  display: none;
  padding: 2px 0 0 0;
}

.burger__line {
  width: 20px;
  margin: 0 0 4px 0;
  border-bottom: 2px solid #fff;
}

@media all and (max-width: 767px) {
  .article {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 24px 15px;
  }

  .article__text img {
    max-width: 100%;
  }

  .nav__inner {
    display: none;
  }

  .page-wrap {
    padding: 0 20px;
  }

  .article__text img {
    max-width: 100%;
    /* width: 100%; */
  }

  .nav__item img {
    display: block;
  }

  .burger {
    display: block;
  }

  .imgWrapper img {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  .article__title {
    font-size: 25px;
    line-height: 30px !important;
  }
}